 /* Custom Styles */
   body {
       font-family: 'Arial', sans-serif;
       background-color: rgb(251, 250, 249);
   }
   
   .custom-container {
       max-width: 800px;
       margin: auto;
       padding: 20px;
       background: #ffffff;
       border-radius: 10px;
       box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   }

   .custom-title {
       color:  #6e4c2f;
       margin-bottom: 15px;
       font-size: 2em;
       font-weight: bold;
       text-align: center;
   }

   .custom-filter-form {
       /* background: #998065; */
       background:  #9e7d70; 
       border-radius: 5px;
       padding: 15px;
   }

   .custom-filter-form label {
       color: white;
       font-weight: bold;
   }

   .custom-btn {
       background-color:  #6e4c2f;
       color: white;
       border: none;
   }

   .custom-btn:hover {
       background-color: #6a6b55;
   }

   .custom-table {
       width: 100%;
       margin-top: 20px;
       border-collapse: collapse;
   }

   .custom-table th, .custom-table td {
       padding: 10px;
       border: 1px solid  #6e4c2f;
       text-align: center;
   }

   .custom-table th {
       background-color:  #6e4c2f;
       color: white;
   }

   .custom-user-link {
       cursor: pointer;
       color:  #6e4c2f;
       /* color:  #A27B5C; */
       font-weight: bold;
   }

   .custom-order-details {
       display: none;
       background-color: rgb(244, 243, 241);
   }

   #A27B5C